body {
  &.loaded {
    .page-header {
      opacity: 1;
    }

    .screen__footer {
      transform: translateY(0);
    }

    .page-header__logo {
      opacity: 1;
      transform: translateX(0);
    }

    .social-block__toggler::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
