.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: $c-dark;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s linear;

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }
}
