body {
  &.slide-blue {
    .page-header__menu a:hover, .page-header__menu a:focus {
      color: $c-blue-light;
    }

    .page-header__menu a:hover::after, .page-header__menu a:focus::after {
      background-color: $c-blue-light;
    }

    .social-block__toggler {
      color: $c-blue;

      &:hover {
        color: $c-blue-light;
      }

      &:active {
        color: $c-blue-light;
      }

      &:focus::before {
        border-color: $c-blue-light;
      }

      &:active:before {
        background-color: $c-blue-light;
        border-color: $c-blue-light;
      }
    }

    .social-block__link {
      &:hover {
        color: $c-blue-light;
      }

      &:focus {
        color: $c-blue-light;
        border-color: $c-blue-light;
      }
    
      &:active,
      &:active:focus {
        color: $c-blue-light;
    
        &::before {
          background-color: $c-blue-light;
          border-color: $c-blue-light;
        }
      }
    }
  }

  &.slide-blue-light {
    .page-header__menu a:hover, .page-header__menu a:focus {
      color: $c-blue;
    }

    .page-header__menu a:hover::after, .page-header__menu a:focus::after {
      background-color: $c-blue;
    }

    .social-block__toggler {
      color: $c-blue-light;

      &:hover {
        color: $c-blue;
      }

      &:active {
        color: $c-light;
      }

      &:focus::before {
        border-color: $c-blue;
      }

      &:active:before {
        background-color: $c-blue;
        border-color: $c-blue;
      }
    }

    .social-block__link {
      &:hover {
        color: $c-blue;
      }

      &:focus {
        color: $c-blue;
        border-color: $c-blue;
      }
    
      &:active,
      &:active:focus {
        color: $c-blue;
    
        &::before {
          background-color: $c-blue;
          border-color: $c-blue;
        }
      }
    }
  }

  &.slide-dark {
    .page-header__menu a:hover, .page-header__menu a:focus {
      color: #8e7cad;
    }

    .page-header__menu a:hover::after, .page-header__menu a:focus::after {
      background-color: #8e7cad;
    }

    .social-block__toggler {
      color: #8e7cad;
    }

    .social-block__link:hover {
      color: #8e7cad;
    }
  }
}